
.error{
    color: red;
    font-size: 0.75em;
}
.card{
    margin-right: 200px;
    margin-left: 200px;
}
thead th{
    background-color: #6c7ae0;
    color: #fff;
}
.col1{
    width: 20%;
}
.col2{
    width: 15%;
}
.col3{
    width: 15%;
}
.col4{
    width: 15%;
}
.col5{
    width: 35%;
}